extends partial/layout

block container
    include mixins/post
    +posts()
    h1 #[span(class="incline-bar") Spark your next project]


block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
