::selection {
    color: #FFFFFF;
    background-color: #248bcf;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: #34495e;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    font-family: 'sourcesanspro', 'Helvetica Neue', Arial, sans-serif;
}

ul.nav,
ul.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    margin: 1rem 0;
}

a, a:active {
    color: #2c3e50;
    text-decoration: none;
}

// a.nav-list-link.active,
// a.nav-list-link:hover,
// a.post-title-link:hover {
//     border-bottom: 2px solid #248bcf;
// }

hr {
    border: 0;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #e96900;
    border-radius: 2px;
    white-space: inherit;
}

iframe, video {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    width: 100%;
    margin: 1em auto;
    thead {
        background-color: #ddd;
        th {
            padding: 5px;
            min-width: 20px;
        }
    }
    tbody {
        tr:nth-child(2n) {
            background-color: #eee;
        }
        td {
            padding: 5px;
            vertical-align: text-top;
        }
    }
}

.gbutton {
    font-size: 16px;
    font-family: "Benton Sans",'Libre Franklin', Helvetica,sans-serif;
    background-color:rgb(131, 255, 205);
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    cursor: pointer;
    padding: 0.375em 0.5em 0.1875em;
    &:hover {
        background-color: yellow;
        box-shadow: 3px 3px black;
        outline:0;
    }
    &.active,
    &:active {
        background-color: lightgrey;
        box-shadow: 1px 1px black;
        outline:0;
    }
  }